{% extends 'customer/home.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row empty"></div>
</div>
<div class="container-fluid">
    <div class="row signup">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Sign Up</h2>
            <form method="post" onsubmit="return signup_form_validation()">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="name" required>
                    <div id="name_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <div id="email_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div id="pass_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" required>
                    <div id="pass_match" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <br>
                <br>
                <div class="mb-3">
                    <h6>Already a member? <span><a href="{% url 'customer:login' %}" style="color: red;">login</a></span></h6>
                </div>
            </form>
        </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row empty"></div>
</div>



{% endblock %}

